<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>瀑布流</title>
	<style>
		.action-wrap{
			padding: 5px;
		}
		.action-wrap-sub{
			padding: 0;
		}
		.action-wrap-poster{
			padding: 0;
		}
	</style>

	<style>


	</style>
</head>
<body>
	<div id="app">
		<wireless
			:data="data"
			:activeIndex="activeIndex"
		/>
	</div>
	
	<!--模板数据-->
	<script type="tempate" id="data-block" style="display:none">
		<!--
			提供的数据
			1.data
				{
					is: "waterfallTest",
					// 左侧顶部
					leftTop: {
						link: "", // 点击跳转的链接
						pic_url: "https://img.alicdn.com/imgextra/i1/105227988/O1CN0128sYEyAW4X6EQWf-105227988.png",// 图片
					},
					// 右侧底部
					rightBottom: {
						link: "", // 点击跳转的链接
						pic_url: "https://img.alicdn.com/imgextra/i1/105227988/O1CN0128sYEyAW4X6EQWf-105227988.png", // 图片
					},
					show_prev_price: true, // 是否显示原价
					show_title: true, // 是否显示宝贝名
					title: '',
					type: 'waterfall',
					// 宝贝列表
					list: [
						{
							num:0,
							num_iid:578027018580,
							pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
							prev_price:"69.00",
							price:"69.00",
							title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
						},
						{
							num:0,
							num_iid:578027018580,
							pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
							prev_price:"69.00",
							price:"69.00",
							title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
						},
						{
							num:0,
							num_iid:578027018580,
							pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
							prev_price:"69.00",
							price:"69.00",
							title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
						},
						{
							num:0,
							num_iid:578027018580,
							pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
							prev_price:"69.00",
							price:"69.00",
							title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
						},
						{
							num:0,
							num_iid:578027018580,
							pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
							prev_price:"69.00",
							price:"69.00",
							title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
						},
						{
							num:0,
							num_iid:578027018580,
							pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
							prev_price:"69.00",
							price:"69.00",
							title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
						},
					]
				}



		-->
		<div class="waterfall">
			<widget-header :title="data.title" :link="data.link" :css="{backgroundColor: 'transparent',color: 'white'}"></widget-header>
			<table style="width:100%;table-layout: fixed;" class="waterfall-table" cellspacing="0" cellpadding="0">
				<tr >
					<!--左侧-->
					<td style="vertical-align: top;" v-for="td, tdIndex in [0,1]">
						<div class="left-column" :style="{padding: tdIndex == 0 ? '0 2px 0 0' : '0 0 0 2px'}">
							<div v-if="tdIndex == 0 && data.leftTop.pic_url" style="margin-bottom: 5px;">
								<a-link :href="data.leftTop.link">
									<img :src="data.leftTop.pic_url" alt="" style="max-width:100%;max-height:100%;vertical-align:middle;">
								</a-link>
							</div>
							<div v-for="item,index in data.list" v-if="index % 2 == td" class="" style="margin-bottom:5px;">
								<goods-link :numIid="item.num_iid">
									<div style=" width: 100%;overflow: hidden;">
										<aspect :css="{overflow: 'hidden'}">
											<img :src="item.pic_url" alt="" style="width:100%; vertical-align: middle;">
										</aspect>
										<!--宝贝名称-->
										<div v-if="data.show_title" style="width: 100%;height: 2em;line-height: 2em;padding:0 5px;font-size: 14px;overflow: hidden;background-color:#d60934;color: white;">
											{{ item.title }}
										</div>
										<div style="border-top: 1px solid #a61001;background-color:white;text-align: left; position: relative;">
											<table cellpadding="0" cellspacing="0" style="width: 100%;table-layout:fixed;">
												<tr>
													<td style="color:#d60934;padding-left:5px;white-space:nowrap;">
														<!--价格-->
														<span style="font-size: 12px">¥</span><span style="font-size: 16px;">{{item.price | pri}}</span>
														<!--原价-->
														<span v-if="data.show_prev_price" style="font-size: 14px;margin-left: 5px;text-decoration: line-through;">¥{{item.prev_price | pri}}</span>
													</td>
													<td style="background-color:orange;vertical-align:middle;text-align:center;width:2.5em;line-height:1.8em;">
														<span style="color: white;">
															购买
														</span>
													</td>
												</tr>
				
											</table>
										</div>
									</div>
								</goods-link>
							</div>
							<empty-layout v-if="data.list.length==0"></empty-layout>
							<div class="waterfall-item" v-if="tdIndex == 1 && data.rightBottom.pic_url">
								<a-link :href="data.rightBottom.link">
									<img :src="data.rightBottom.pic_url" alt="" style="max-width:100%;max-height:100%;vertical-align:middle">
								</a-link>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</script>


	<script>
		var template = document.getElementById('data-block').innerHTML;
		console.log(template);
		document.getElementById('data-block').innerHTML = '';
	</script>

	<script src="http://cdn.staticfile.org/vue/2.5.17/vue.js"></script>
	<script src="http://localhost:8080/dist/widget.js"></script>
	<!--<script src="./widget.js"></script>-->
	<script>
		var data = {
			"global": {
				"title": "瀑布流",
				"bgBody": "rgba(168,46,46,1)",
				"bgBlock": "white",
				"bgTheme": "rgba(76,20,124,1)",
				"bgLight": "white",
				"colorTheme": "rgba(146,29,29,1)",
				"colorLight": "white",
				"colorBorder": "rgba(128,55,88,1)",
				"colorTitle": "rgba(233,49,82,1)",
				"style": "dddddd"
			},
			"style": "",
			"widgets": [{
				"name": "waterfallTest",
				"template": template,
				"style": ".oneRowC83BBFEFE2A000011FD2C5DFF5461A9F{}",
				"p": false,
				"image": "http://imgs.aixifan.com/o_1ct5mhbf315r61rjh16b6qlo11bm2l.jpg",
				"id": 17,
				"type": "oneRow"
			}],
			"list": [{
				is: "waterfallTest",
				leftTop: {
					link: "",
					pic_url: "https://img.alicdn.com/imgextra/i1/105227988/O1CN0128sYEyAW4X6EQWf-105227988.png",
				},
				rightBottom: {
					link: "",
					pic_url: "https://img.alicdn.com/imgextra/i1/105227988/O1CN0128sYEyAW4X6EQWf-105227988.png",
				},
				show_prev_price: true,
				show_title: true,
				title: '',
				type: 'waterfall',
				list: [
					{
						num:0,
						num_iid:578027018580,
						pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
						prev_price:"69.00",
						price:"69.00",
						title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
					},
					{
						num:0,
						num_iid:578027018580,
						pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
						prev_price:"69.00",
						price:"69.00",
						title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
					},
					{
						num:0,
						num_iid:578027018580,
						pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
						prev_price:"69.00",
						price:"69.00",
						title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
					},
					{
						num:0,
						num_iid:578027018580,
						pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
						prev_price:"69.00",
						price:"69.00",
						title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
					},
					{
						num:0,
						num_iid:578027018580,
						pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
						prev_price:"69.00",
						price:"69.00",
						title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
					},
					{
						num:0,
						num_iid:578027018580,
						pic_url:"https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEYNuBLbyuds-105227988.jpg",
						prev_price:"69.00",
						price:"69.00",
						title: "1韩版夏季半身裙一步裙西装裙工装裙大码职业短裙性感包臀裙a字裙",
					},
				]
			}]
		}
	</script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				activeIndex: -1,
				data: data,
			},
			methods: {
				
			},
			mounted: function(){
				
			}
		})
		
	</script>
</body>
</html>