<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>单列宝贝</title>
	<style>
		.action-wrap{
			padding: 5px;
			background-image: url(./src/tabbg.jpg);
		}
		.action-wrap-sub{
			padding: 0;
		}
		.action-wrap-poster{
			padding: 0;
		}
	</style>

	<style>

	</style>
</head>
<body>
	<div id="app">
		<wireless
			:data="data"
			:activeIndex="activeIndex"
		/>
	</div>

	<!--模板数据-->
	<script type="template" id="data-block" style="display:none">
			<!--
				1.data
					{
						"type": "oneRow",
						"is": "oneRowC83BBFEFE2A000011FD2C5DFF5461A9F",
						"show_prev_price": true, // 是否显示原价
						"show_title": true, // 是否显示宝贝名
						"list": [{
							"title": "矮小个子155cm女装衬衫女长袖职业修身上衣韩版气质格子拼接",
							"pic_url": "https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEXq4lRzxZzC-105227988.jpg",
							"price": "109.00",
							"prev_price": "109.00",
							"num_iid": 578026982963,
							"num": 0
						}, {
							"title": "职业装韩版上衣秋装2018衬衫女长袖气质工作服女上班衣服女装",
							"pic_url": "https://img.alicdn.com/bao/uploaded/i2/105227988/O1CN0128sYEYxPKF2oXxz-105227988.jpg",
							"price": "91.00",
							"prev_price": "91.00",
							"num_iid": 577902709302,
							"num": 0
						}]
					}
			-->

			<div class="pre">
				<!--头部-->
				<a-link :href="data.link" v-if="data.link || data.title">
					<div style="padding:15px 0;">
						<table cellspacing="0" cellpadding="0" style="width: 100%;">
							<tr>
								<td style="text-align:center">
									<img src="./src/modeltop.png" style="width: 30%;">
								</td>
							</tr>
							<tr>
								<td style="text-align:center">
									<span style="color: white;">{{ data.title }}</span>
								</td>
							</tr>
						</table>
					</div>
				</a-link>
				<empty-layout v-if="data.list && data.list.length == 0" />
				<table class="one-row" cellspacing="0" cellpadding="0" v-for="item,index in data.list" style="width: 100%;table-layout: fixed;">
					<tr>
						<td style="padding: 2.5px 2.5px 15px 2.5px;">
							<goods-link :numIid="item.num_iid">
								<div class="one-row-item" style="width: 100%;border-radius: 0 0 10px 10px;background-color:white;position: relative;padding-bottom: 15px;" >
									<aspect :css="{overflow: 'hidden'}">
										<!--宝贝图片-->
										<img class="goods-pic" :src="item.pic_url" alt="" style="width: 100%;vertical-align: middle;">
									</aspect>
									<!--图片底部的细条-->
									<div style="height: 3px;background-image: url(./src/tworowbottom.png);background-size: auto 100%;"></div>
									<!--标题-->
									<div class="goods-title" v-if="data.show_title" style="width: 100%;height: 2em;line-height: 2em;font-size: 12px;overflow: hidden;padding: 0 5px;color: #000000;">
										{{ item.title }}
									</div>
									<div class="price-block" style="padding: 0 5px;text-align: center;position: relative;">
										<!--价格-->
										<span class="price" style="font-size: 16px;color: #ff0100;margin: 0 10px;" >{{item.price | pri}}</span>
										<!--原价-->
										<span class="prev-price color-prev-price" style="font-size: 12px;margin-left: 5px;color: #aaaaaa;text-decoration: line-through;margin: 0 10px;" v-if="data.show_prev_price">{{item.prev_price | pri}}</span>
									</div>
									<div class="item-bottom-img-wrap" style="position: absolute;width: 100%;bottom: 0;text-align: center;">
										<!--底部图片-->
										<img class="item-bottom-img" src="./src/itemBottom.png" style="width: 30%;margin: 0 auto;margin-bottom: -15px;">
									</div>
								</div>
							
							</goods-link>
						</td>
					</tr>
				</table>
			</div>
	</script>
	<script>
		var template = document.getElementById('data-block').innerHTML;
		console.log(template);
		document.getElementById('data-block').innerHTML = '';
	</script>


	<script src="http://cdn.staticfile.org/vue/2.5.17/vue.js"></script>
	<script src="http://localhost:8080/dist/widget.js"></script>
	<!--<script src="./widget.js"></script>-->
	<script>
		var data = {
			"global": {
				"title": "单列宝贝",
				"bgBody": "rgba(168,46,46,1)",
				"bgBlock": "white",
				"bgTheme": "rgba(76,20,124,1)",
				"bgLight": "white",
				"colorTheme": "rgba(146,29,29,1)",
				"colorLight": "white",
				"colorBorder": "rgba(128,55,88,1)",
				"colorTitle": "rgba(233,49,82,1)",
				"style": "dddddd"
			},
			"style": "\n.action-wrap{\n\tpadding: 5px;\n}\n.action-wrap-sub{\n\tpadding: 0;\n}\n.action-wrap-poster{\n\tpadding: 0;\n}",
			"widgets": [{
				"name": "oneRowC83BBFEFE2A000011FD2C5DFF5461A9F",
				"template": template,
				"style": ".oneRowC83BBFEFE2A000011FD2C5DFF5461A9F{}",
				"p": false,
				"image": "http://imgs.aixifan.com/o_1ct5mhbf315r61rjh16b6qlo11bm2l.jpg",
				"id": 17,
				"type": "oneRow"
			}],
			"list": [{
				"type": "oneRow",
				"is": "oneRowC83BBFEFE2A000011FD2C5DFF5461A9F",
				"show_prev_price": true,
				"show_title": true,
				title: 'gfgghghgh',
				link: 'https://www.bilibili.com/',
				"list": [{
					"title": "矮小个子155cm女装衬衫女长袖职业修身上衣韩版气质格子拼接",
					"pic_url": "https://img.alicdn.com/bao/uploaded/i1/105227988/O1CN0128sYEXq4lRzxZzC-105227988.jpg",
					"price": "109.00",
					"prev_price": "109.00",
					"num_iid": 578026982963,
					"num": 0
				}, {
					"title": "职业装韩版上衣秋装2018衬衫女长袖气质工作服女上班衣服女装",
					"pic_url": "https://img.alicdn.com/bao/uploaded/i2/105227988/O1CN0128sYEYxPKF2oXxz-105227988.jpg",
					"price": "91.00",
					"prev_price": "91.00",
					"num_iid": 577902709302,
					"num": 0
				}]
			}]
		}
	</script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				activeIndex: -1,
				data: data,
			},
			methods: {
				
			},
			mounted: function(){
				
			}
		})
		
	</script>
</body>
</html>